{% extends "UI/teacher/teacher_base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{{data}}</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <div id="mynetwork" style="height:100%"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-5 col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary" id="node_title"></h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="">
                        <div id="node_data"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--    <div class="row">-->
<!--        <div class="card shadow mb-4">-->
<!--            <div class="card-header py-3">-->
<!--                <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce-->
<!--                    CSS bloat and poor page performance. Custom CSS classes are used to create-->
<!--                    custom components and custom utility classes.</p>-->
<!--                <p class="mb-0">Before working with this theme, you should become familiar with the-->
<!--                    Bootstrap framework, especially the utility classes.</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>

<script>

     let xhr = new XMLHttpRequest();

      xhr.onreadystatechange = function() {

      if (xhr.readyState === 4) {
        json_data = xhr.responseText;
        json_data = JSON.parse(json_data)
        results = parse_data(json_data)
        nodes = results[0]
        edges = results[1]

        drawGraph(nodes, edges);

      }
    }
    xhr.open("GET", "/teacher/book/chapter/graph/{{data}}/1",true);
    xhr.setRequestHeader('Accept', 'application/json');
    xhr.send();

</script>
{% endblock %}