{% extends "UI/student/student_base.html" %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Book</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for d in data %}
                    <tr>
                        <td>{{d.name}}</td>
                        <td>
                            <a href="/student/book/chapters/{{d.id}}" class="btn-sm btn-primary">View</a>
                            <a href="/student/book/similarity/{{d.id}}" class="btn-sm btn-primary">View Cumulative
                                Similarity</a>
                        <td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock %}


