{% extends "UI/student/student_base.html" %}

{% block content %}

<div class="container">
    <div class="col-sm-10">
        <div>
            <h6>By <span style="color: #4E73DF">{{user.name.capitalize()}}</span></h6>
        </div>
        <div class="card" style="padding:10px; text-align:justify; background-color:#4E73DF; color:#fff">
            {{post.comment}}
        </div>
    </div>
    <br>
    <div class="col-sm-10">
        <div>
            <h5 style="color: #4E73DF">Replies</h5>
        </div>

        {% for res in responses %}
        <div class="card" style="padding:10px; text-align:justify">
            <h6 style="color: #4E73DF">{{res.name.capitalize()}}<span class="small" style="float:right">{{res.created_on}}</span></h6>
            <span>{{res.response}}</span>
        </div>
        <br>
        {% endfor %}


    </div>
    <div class="col-sm-10">
        <form class="user" method="post" action="/student/response/post/{{post.id}}/add">
            <div class="form-group">
                <label for="reply"></label>
                <textarea required class="form-control" name="reply" id="reply" rows="2"
                          placeholder="Write Something"></textarea>
            </div>
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary " style="float: right;">
                    Reply
                </button>
            </div>
        </form>
    </div>

</div>


{% endblock %}