{% extends "UI/teacher/teacher_base.html" %}

{% block content %}

<div>
    Similarity Page<br>
    {{book}} <br>
    {{chapter}} <br>
</div>


<script>

    function getData(url) {
        return axios.get(url).then(response => response.data)
    }

    function get_similarity(doc1, doc2){

    }

    getData("/teacher/get_similarity_data/{{book}}/{{chapter}}")
    .then(function(res){
        docs=""
        count=0
        ll = res.length
        for(i=0;i<res.length;i++){

            axios.get(wiki_endpoint+res[i]).then(res=>{
            text = res.data['extract']+'\n'
            docs += text
            count += 1

            if(count == ll){
                console.log(docs)

            }

            })
            }
        })



</script>
{% endblock %}